SECRET_KEY=change-me
DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1

POSTGRES_DB=backend
POSTGRES_USER=backend
POSTGRES_PASSWORD=backend
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379
